@font-face {
    font-family: "Pixeld";
    src: url("./../fonts/Pixeled.ttf") format('truetype');
}

.myPokedex {
    font-family: "Pixeld";
    margin: 0px;
    padding: 0px;
    background-image: url("./background.png");
    background-size: cover;
    background-color: rgb(180, 25, 25);
    width: 450px;
    height: 300px;
    border-radius: 8px;
    border: 2px solid gray;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 225px 225px;
    box-shadow: 5px 5px 1px rgb(114, 1, 1);
}

.pokemonCard {
    margin: 0px;
    padding: 0px;
    background-image: url("./gif.gif");
    background-size: cover;
    background-color: #676792;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    border: 2px solid gray;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
}

.pokemonCard img {
    height: 200px;
    width: 200px;
}

.pokemonStatus {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    background-image: url("./gif.gif");
    background-size: cover;
    background-color: #676792;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    border: 2px solid gray;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

@media(min-width: 900px) {
    .pokemon {
        display: grid;
        grid-template-areas: "pokeINfo pokeList";
        grid-template-columns: 500px 1fr;
    }
}
.myList{
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}
.pokeList ul{
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    list-style-type: none;
}  
#sentinela{
    background-color: black;
}