@font-face {
    font-family: "Pixeld";
    src: url("./../fonts/Pixeled.ttf") format('truetype');
}
.myPokedex{
    font-family: "Pixeld";
    margin: 0px;
    padding: 0px;
    background-color: rgb(180, 25, 25);
    width: 450px;
    height: 300px;
    border-radius: 8px;
    border: 2px solid gray;
    display: grid;
    grid-template-areas: 
      "left right";
    grid-template-columns: 225px 225px;
}
.pokemonCard{
    
    margin: 0px;
    padding: 0px;
    background-image: url("./holi.png");
    background-color: #676792;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    border: 2px solid gray;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
}
.pokemonCard img{
    height: 200px;
    width: 200px;
    
}

.pokemonStatus{
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    background-image: url("./holi.png");
    background-color: #676792;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    border: 2px solid gray;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}